@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,500;0,700;1,500&display=swap");

:root {
  --left-bg-color: rgba(255, 85, 62, 0.7);
  --right-bg-color: rgba(90, 174, 253, 0.8);
  --left-btn-hover-color: rgb(206, 8, 8);
  --right-btn-hover-color: rgb(64, 77, 255);
  --hover-width: 75%;
  --other-width: 25%;
  --speed: 1000ms;
}

* {
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  margin: 0;
  height: 100vh;
  overflow: hidden;
}

h1{
  font-size: 4rem;
  color: #fff;
  position: absolute;
  left: 50%;
  top: 20%;
  transform: translateX(-50%);
  /* so the text will not wraping */
  white-space: nowrap;
}

/* make button without background */
.btn{
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  left: 50%;
  top: 40%;
  transform: translateX(-50%);
  text-decoration: none;
  color: #fff;
  border: #fff solid 0.2rem;
  font-size: 1rem;
  font-weight: bold;
  text-transform: uppercase;
  width: 15rem;
  padding: 1.5rem;
}

/* when our cursor touch split left  */
.split.left .btn:hover{
  background-color: var(--left-btn-hover-color);
  border-color: var(--left-btn-hover-color);
}

/* when our cursor touch split right  */
.split.right .btn:hover{
  background-color: var(--right-btn-hover-color);
  border-color: var(--right-btn-hover-color);
}

.container{
  position: relative;
  width: 100%;
  height: 100%;
  background: #5AAEFD;
}

.split{
  position: absolute;
  width: 50%;
  height: 100%;
  overflow: hidden;
}

.split.left{
  /* it will be in left */
  left: 0;
  background: url('akatsuki.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

.split.left::before{
  content: '';
  position:absolute;
  width: 100%;
  height: 100%;
  background-color: var(--left-bg-color);
}

.split.right{
  right: 0;
  background: url('naruto.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

.split.right::before{
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: var(--right-bg-color);
}

/* so this for the transition, we use speed 1000ms and use animation ease in out */
.split.right,
.split.left,
.split.right::before,
.split.left::before{
  transition: all var(--speed) ease-in-out;
}

/* when our cursor touch the left side, it will make the left side become 75% width */
.hover-left .left{
  width: var(--hover-width);
}

/* when our cursor touch the left side, it will make the right side become 25% width */
.hover-left .right{
  width: var(--other-width);
}

/* when our cursor touch the right side, it will make the right side become 75% width */
.hover-right .right{
  width: var(--hover-width);
}

/* when our cursor touch the right side, it will make the right side become 25% width */
.hover-right .left{
  width: var(--other-width);
}


/* so when the web is 800px the h1 and the btn, will be styling like this */
@media (max-width: 800px){
  h1{
    font-size: 2rem;
    top: 30%;
  }

  .btn{
    padding: 1.2rem;
    width: 12rem;
  }
}